* {
    box-sizing: border-box;
}
/* ---------- GENERAL ---------- */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Arial; /* Sans-serif; */
	background: #001F3F;
}

main {
    margin-top: 68px;
    overflow-y: auto;
    width: 100%;
    float: left;
    background: #E1F5FE;  /* Changed */
}

/* Navigation bar */
nav {
    width: 100%;
    min-width: 1000px;
    position: fixed;
}
/* Footer */
footer {
    clear: both;
    background: #001F3F; /* Changed */
	color:white;
}

.field-wrap {	/* For wrapping input fields in the login system */
    margin-bottom: 20px;
}

/* Headers */
h1, h5, h6 {
    color: #001F3F; /* Changed */
    margin: 0;
    font-size: 28px; /* Added */
}

h2.help, h2.user {
    text-align: center;
    font-size: 35px;
    margin-top: 30px; 
    font-style: normal;
	margin-bottom: 0px;
	font-weight: 150;
}

h2.home {
    text-align: center;
    font-size: 40px;
    margin-top: 30px; 
    font-style: normal;
	margin-bottom: 0px;
	font-weight: 100;
}

h3.help, h3.home, h3.user {
    text-align: center;
    font-size: 25px; 
    margin-top: 10px; 
    margin-bottom: 10px;
	font-style: normal;
	margin-left: 0px; 
}

h4.home {
    text-align: center;
    font-size: 20px; 
    margin-top: 10px; 
    margin-bottom: 10px;
	font-style: normal;
	font-weight: 100;
}

h4 {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 10px;
	text-align:center; 
}

footer h4 {
	text-align: left;
	margin: 0;
	color: #E1F5FE;
}

/* Text */
p {
    margin: 0;
    font-weight: normal;
}

footer p {
    font-size: small;
    text-align: center; /* Added */
}


/* ---------- FORMS ---------- */
form {
    margin: 0;
}

/* Quicksearch */
form.quicksearch {
    height: 29px;
}

/* Search, insert */
form.search-form, form.insert-form {
    float: left;
    width: 100%;
    padding: 10px 10px;
    margin-left: 40px; 
}

/* Search */
form.search-form > div, form.insert-form >div {
    max-width: 500px; /* Changed. Makes search form wider */
    float: left;
}

/* ---------- LOGIN SPECIFIC ---------- */
/* Header */
h1.login {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 35px;
}

/* Text */
p.login {
    margin-bottom: 15px;
}


/* ---------- TABLES ---------- */
table {
    border: none;
    border-spacing: 0;
    margin-top: 10px;
}

table.strain, table.backbone, table.insert {
    display: inline-block;
}

table.control-panel-history th.top {
    text-align: left;
    border-bottom: none;
    font-size: 14px;
    padding-top: 10px;
    text-decoration: underline;
}

table.control-panel-history th {
    text-align: left;
    border-bottom: none;
    font-size: 12px;
}

table.control-panel-history td {
    font-size: 10px;
    border-bottom: none;
}

table.user_entries {
	margin-left: 20%;
}

th {
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

td {
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
    font-size: small;
    border-bottom: 1px solid black;
    max-width: 400px;
}

td.comment {
    min-width: 200px;
	text-align: center;
}

/* ---------- SPAN ---------- */
span.req {
    color: #001F3F;
    font-weight: bold;
}

/* ---------- LINKS ---------- */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Images */
a.external::after { /* Adds external link image after link */
    background-image: url(../images/external_link.png);
    background-size: 12px 12px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    content:"";
    margin-left: 3px;
    margin-right: 12px;
}

a.edit::after {	/* Adds edit image after link */
    background-image: url(../images/edit.png);
    background-size: 12px 12px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    content:"";
    margin-left: 3px;
    margin-right: 12px;
	clear:right; 
}

a.mail::after { /* Adds external link image after link */
    background-image: url(../images/mail.png);
    background-size: 12px 12px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    content:"";
    margin-left: 3px;
    margin-right: 12px;
}

a.download::after { /* Adds download image after download link */
    background-image: url(../images/download.png);
    background-size: 12px 12px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    content:"";
    margin-left: 3px;
    margin-right: 12px;
}

/* ??? */ 
/* div.innertube a {
        color: blue;
}

div.innertube a:hover {
        color: green;
} */

/* Navigation bar */
.navigation a {
    float: left;
    color: #E1F5FE; /* Changed. Text color in navigation buttons */ 
    /* text-align: center; */ /* Deleted. */ 
    padding: 22px 16px;
    font-size: 19px; /* Changed. Larger text size in nav. buttons */

    /* Rounded corners on top */  /* Added: all */
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;

    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.navigation a:hover {
    background-color: #0074D9; /* Changed. Background color when hovering over nav. buttons */
    color: #E1F5FE; /* Changed. Text color when hovering over nav. buttons */
}

.navigation a.active {
    background-color: #E1F5FE; /* Changed. Background color on active nav. button. */
    color: #001F3F; /* Changed. Text color on active nav. button */
}

/* Login */
.navigation a.login {
    margin-left: 5px; /* Changed. Smaller margin on login button in nav. */
    color: #E1F5FE; 
}

.navigation a.login.active {
    background-color: #E1F5FE; /* Changed. Background color on active nav. button. */
    color: #001F3F; /* Changed. Text color on active nav. button */
}

a.login {
    color: #0074D9; /* Changed. New color to "New? Click here to register!" */
}

/* Logo */
a.logo { /* Removed: margin */
    padding: 0; /* Changed. Makes the logo fit in the navigation. */
    margin-right: 20px; /* Added. Less space between logo and nav. buttons */
    text-align: left;
}

a.logo:hover {
    background-color: inherit;
}

/* Quicksearch */ 
div.quicksearch a {
    padding: 0;
    font-size: small;
}

div.quicksearch a:hover {
    color: #0074D9; /* Changed. Text color when hovering over quicksearch text */
    background-color: inherit;
}

footer a {
	color: #0074D9;
}

/* ---------- DIVS ---------- */
/* Innertube */
div.innertube {
    padding: 15px;
}

/* Forms */
div.form {
    background: #E1F5FE; /* Changed. Background color in forms. */
    padding: 40px;
    max-width: 600px;
    margin: auto;
}

/* inserts */
div.backbone_strain_table {
    display:inline-block;
    margin-right: 100px;
    margin-bottom: 30px;
}

div.insert_table {
    display: inline-block;
}

/* Entries */
div.entry_table {
    float: left;
    margin-right: 100px;
}

/* Logo */
div.logo {
    float: left;
    clear: left; /* Does not allow floating elements to the left of the logo*/
}

/* "Private" Checkbox */
div.checkbox {
    margin-top: 30px;
    float: right;
    padding: 30px;
    width: 50%;
}

/* navigation stuff in help, control panel etc  */ 

div.control_panel_menu, div.entry_nav{
    float: left; 
    width:100%; 
    margin-left:0; 
}

div.info {
	margin: 10px;
	width:100%;
}

div.innertube div.igem_text, div.innertube div.upstrain_text {
	border: 3px solid #0074D9;
	margin-top: 0;
	margin-bottom: 15px;
	
    /* Rounded corners on top */  /* Added: all */
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;

    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    /* Rounded corners on bottom */ /* Added: all */
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;

    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

div.innertube div.igem_text {
	float: left; 
	width: 48%;
	padding:10px;
	display: inline-block;
	margin-left: 10px;
	text-align: justify;
    text-justify: inter-word;
	margin-top: 0; 
}

div.innertube div.upstrain_text {
	float: right;
	width: 48%; 
	padding: 10px; 
	margin-right: 10px;
	text-align: justify;
    text-justify: inter-word;
	margin-top: 0;
}

footer div {
	float: left;
	margin: 0 40px 0 40px;
}


/* ---------- NAVIGATION BAR ---------- */
nav.navigation {
    overflow: hidden;
    background: #001F3F;  /* Changed. Background color in navigation bar. */
    margin-top: 0;
    clear: both; /* Does not alow floating elements on either side of navigation bar */ 
    max-height: 68px;
}

/* Wrappers */
div.nav-wrapper { /* Entire */
    white-space: nowrap;
}

div.nav-wrapper a {
	height: 68px;
}

div.right-wrapper { /* Quicksearch and login */
    padding: 0;
    float: right;
    clear: right;
}

div.right-wrapper a.login {
	height: 68px;
}

/* Quicksearch */
div.quicksearch {
    padding-top: 10px;
    float: left;
}

/* ---------- INPUT FIELDS ---------- */
input.all, select.all, input.login {
    padding: 6px;
    border: 1px solid #001F3F; /* Changed. Border color around input boxes */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */ 
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
    font-size: 16px; /* Added. Increased font size in input boxes */
    padding: 4px 7px; /* Added. Less padding within input boxes */ 
    /* outline: 0; */ /* Added. No outline around active input box */
    width:100%; /* Added. The input boxes are no longer overlapping but separated */
}

label { /* Added: All */
    font-size: 15px; /* Added. Change of text size above input boxes */ 
    color: #001F3F; /* Added. Text color of text above input boxes  */
    font-style: italic;
}


/* Quicksearch */
input.quicksearch {
    float: left;
    margin: 0;
    padding: 5px;	
    border: 1px solid #001F3F; /* Changed. Border color around input boxes */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
    font-size: 16px; /* Added. Increased font size in input boxes */
    outline: 0; /* Added. No outline around active input box */
    height: 29px;
}

/* Insert */
input.insert, select.insert {
    padding: 6px;
    border: 1px solid #001F3F; /* Changed. Border color around input boxes */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */ 
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
    font-size: 16px; /* Added. Increased font size in input boxes */
    padding: 4px 7px; /* Added. Less padding within input boxes */ 
    /* outline: 0; */ /* Added. No outline around active input box */
    width:70%;
    float: right;
}	

textarea.insert {
    padding: 6px;
    border: 1px solid #001F3F; /* Changed. Border color around input boxes */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */ 
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
    font-size: 16px; /* Added. Increased font size in input boxes */
    padding: 4px 7px; /* Added. Less padding within input boxes */ 
    /* outline: 0; */ /* Added. No outline around active input box */
    width:100%;
    float: right;
    margin-bottom: 30px;
}

/* Multiple inserts */
input.insert-mini, select.insert-mini {
    padding: 5px;
    border: 1px solid #001F3F; /* Changed. Border color around input boxes */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */ 
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
    font-size: 16px; /* Added. Increased font size in input boxes */ 
    /* outline: 0; */ /* Added. No outline around active input box */
    width:100%;
    float: right;
    margin-top: 5px;
    margin-bottom: 1px;

}

/* Sequence input */
input.button {
    padding: 4px 7px; /* Added. Less padding within input boxes */ 
    border: 0;
    font-size: 16px; /* Added. Increased font size in input boxes */
    width:70%;
    float: right;
}


/* ---------- BUTTONS ---------- */
.button {
    border: none;
    /* padding: 15px 0; */ /* Removed. The text is centered in button. */
    font-size: 20px; /* Changed. Smaller text in buttons */
    font-weight: 500; /* Changed. Less bold text in buttons  */
    /* text-transform: uppercase;*/ /* Removed. No uppercase text in buttons. */
    letter-spacing: .1em;
    background: #001F3F; /* Changed. Background color in buttons. */
    color: #E1F5FE; /* Changed. Text color in buttons. */
    display: block;
    width: 100%;
    height: 30px; /* Added. Less thick button.  */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
}

.button:hover {
    color: #0074D9; /* Changed. Text color when hovering over buttons */ 
}

/* Quicksearch */
button.quicksearch {
    cursor: pointer;
    border: none;
    padding: 0;
    height: 29px;
    background: #0074D9; /* Changed. Background color in buttons. */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
}

button.quicksearch:hover {
    background-color: #001F3F; /* Changed. Background color when hovering over quicksearch button */
}

/* "Add insert" button in insert entry page */
button.insert-mini {
    cursor: pointer;
    border: none;
    padding: 4px;
    height: 29px;
    background: #0074D9; /* Changed. Background color in buttons. */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
    display: block;
    background: #001F3F; /* Changed. Background color in buttons. */
    color: #E1F5FE; /* Changed. Text color in buttons. */
    float: right;
}

button.insert-mini:hover {
    color: #0074D9; /* Changed. Text color when hovering over buttons */ 
}

/* "Remove insert" button in insert entry page */
button.btn_remove {
    margin-top: 5px; /* Makes the button line up relatively well with the input box */
    margin-bottom: 1px;
    cursor: pointer;
    border: none;
    padding: 6px;
    height: 30px;
    background: #0074D9; /* Changed. Background color in buttons. */
    -moz-border-radius: 5px; /* Added. Rounded corners in firefox */
    -webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
    border-radius: 5px; /* Added. Rounded corners in other browsers. */
    display: block;
    background: #001F3F; /* Changed. Background color in buttons. */
    color: #E1F5FE; /* Changed. Text color in buttons. */
    float: right;
}

button.btn_remove:hover {
    color: #0074D9; /* Changed. Text color when hovering over buttons */ 
}

/* ---------- IMAGES ---------- */
/* Quicksearch icon */
img.quicksearch {
    height: 100%;
}

.home img {
	float:left;
	width:70%;
	margin-left: 15%;
	margin-bottom: 10px;
}

.igem_text img {
	float:left;
	width:40%;
	margin-left: 30%;
	margin-bottom: 15px;
}

.upstrain_text img {
	float:left;
	width:54%;
	margin-left: 23%;
	margin-bottom: 10px;
}

footer img  {
	float: left;
}

button.control-panel-restore::after { /* Add restore image to "restore" button */
    background-image: url(../images/restore.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}

button.control-panel-history::after { /* Add history image to "history" button */
    background-image: url(../images/history.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}

button.control-panel-edit::after { /* Add edit image to "edit" button */
    background-image: url(../images/edit.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}

button.control-panel-delete::after { /* Add trashcan image to "delete" button */
    background-image: url(../images/trash.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}

button.control-panel-admin::after { /* Add admin image to "make admin" button */
    background-image: url(../images/admin.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}



/* ---------- LOGIN SYSTEM SPECIFIC ---------- */
.top-row > div:last-child { /* Puts input boxes next to each other */
    margin: 0;
}

.top-row > div { /* Makes input boxes smaller */
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.tab-content > div:last-child { /* Hides login or register tab when not active */
    display: none;
}

/* ---------- CONTROL PANEL ---------- */

h3.event-log {
    margin-left: 50px;
}

table.control-panel-log {
    margin-left: 50px;
}

.control-panel-show h4 {
    text-align: left;
}

div.panel-history-show {
    display: inline-block;
    margin-top: 30px;
}

div.control-panel-show { /* Style for region where the desired content will be shown */
    float: left;
    margin-right: 50px;
}

div.control_panel_menu {
    margin-bottom: 15px;
}

/* float center */
.float_center {
    float: right;
    position: relative; 
    left: -50%; 
    text-align: left;
}

/* Help page */
.float_center > .help_nav {
    position: relative;
    left: 50%; 
}

ul.help_nav li, ul.search_nav li{ /* Help page nav */ 
    float: left;
    list-style-type: none;
    margin: 0 0px;
}

ul.help_nav a, ul.search_nav a{ /* Help page nav button */
    display: block; 
    background: #81D4FA; /* #0074D9; */
    color: #001F3F;/* Changed. Text color in navigation buttons */ 
    /* text-align: center; */ /* Deleted. */ 
    padding: 10px 10px;
    font-size: 17px; /* Changed. Larger text size in nav. buttons */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 30px;

    /* Rounded corners on top */  /* Added: all */
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;

    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    /* Rounded corners on bottom */ /* Added: all */
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;

    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

ul.help_nav a:hover, ul.search_nav a:hover, .control_panel_menu a:hover { /* Help page nav buttons */ 
    background: #001F3F; /* Added. Background color in navigation in controlpanel & entry */
    color: #E1F5FE; /* Added. Text color in navigation in controlpanel & entry */
}	

ul.help_nav a.active, ul.search_nav a.active, .control_panel_menu a.active { /* Help page nav buttons */ 
    background: #001F3F; /* Added. Background color in navigation in controlpanel & entry */
    color: #E1F5FE; /* Added. Text color in navigation in controlpanel & entry */
}	

.clear {
    clear:both;
}

.control_panel_menu a, .entry_nav a {
    float: left; 
    background: #81D4FA; /* #0074D9; */
    color: #001F3F;/* Changed. Text color in navigation buttons */ 
    /* text-align: center; */ /* Deleted. */ 
    padding: 10px 10px;
    font-size: 17px; /* Changed. Larger text size in nav. buttons */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 30px;

    /* Rounded corners on top */  /* Added: all */
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;

    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    /* Rounded corners on bottom */ /* Added: all */
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;

    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.control_panel_nav a:hover, .entry_nav a:hover{
    background: #001F3F; /* Added. Background color in navigation in controlpanel & entry */
    color: #E1F5FE; /* Added. Text color in navigation in controlpanel & entry */
}

/* HELP PAGE */ 
.help_page_show {
    float: center;
    width:84%;
    margin-top: 5px;
	margin-bottom: 15px;
    margin-left: 8%; 
    margin-right: 8%;
    text-align: justify;
    text-justify: inter-word;
    border: 3px solid #81D4FA;
    padding-left:15px;
    padding-right: 15px; 

    /* Rounded corners on top */  /* Added: all */
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;

    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    /* Rounded corners on bottom */ /* Added: all */
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;

    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

div.help_text {
    width:64%;
    margin-left: 18%;
    margin-right: 18%;
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
}

div.innertube div.home {
	width:70%;
    margin-left: 15%;
    margin-right: 15%;
	font-style: italic;
    text-align: justify;
    text-justify: inter-word;
	margin-bottom: 0;
}

/* PROFILE PAGE */

/* div.user_page {
	width: 26%;
	margin-left: 37%; 
} */ 

li.user {
	list-style-type: none;
}


div.user_page div.user_title {
	float: left;
	padding:10px;
	display: inline-block;
	margin-left: 38%;
	text-align: justify;
    text-justify: inter-word;
	margin-top: 0; 
}

div.user_page div.user_info {
	padding: 10px; 
	
}

div.user_page div.edit {
	margin-left: 43%;
}

/* div li span.user_info {
	width: 50%; 
	margin: 0px;
	padding: 0;
}
*/ 

strong {
	text-align: center; 
}

p a.edit {
	float: center;
	margin-left: 80px;
}

div.edit_users {
	float: left;
	margin: 10px;
	border: 3px solid black;
	padding: 10px;
	
	    /* Rounded corners on top */  /* Added: all */
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;

    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    /* Rounded corners on bottom */ /* Added: all */
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;

    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

div.edit_users ul {
	padding: 0;
}

div.edit_users ul li {
	list-style-type: none;
}

div.edit_users ul li div.edit_title {
	float: left; 
	font-style: bold;
	width: 150px;
}

div.edit_users ul li div.edit_info {
	float: right;
	margin-left: 20px;
}

div.edit_users ul li div.back {
	float: left;
	width:40%;
	margin-left: 30%;
	margin-top: 20px;
}

div.not_added{
	margin-left: 40%; 
}

/* IDs */
#logo { /* Added: All */
    max-height: 68px; /* Added. Logo less high */
    max-width: 250px; /* Added. Logo less wide */
}

#right {
    float: right;
    margin-bottom: 15px;
}