* {
  box-sizing: border-box;
}
/* ---------- GENERAL ---------- */
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial; /* Sans-serif; */
}

main {
	margin-top: 68px;
	overflow-y: auto;
	width: 100%;
	float: left;
	background: #E1F5FE;  /* Changed */
}

/* Navigation bar */
nav {
	width: 100%;
	min-width: 1000px;
	position: fixed;
}
/* Footer */
footer {
	clear: both;
	background: #E1F5FE; /* Changed */ 
}

.innertube {	/* Padding for content */
	margin: 15px;
}

.field-wrap {	/* For wrapping input fields in the login system */
  margin-bottom: 20px;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	color: #001F3F; /* Changed */
	margin: 0;
	font-size: 28px; /* Added */
}

h2 {
	margin-bottom: 20px;
	font-weight: 500;
}

/* Text */
p {
	margin: 0;
	font-weight: normal;
}

footer p {
	font-size: small;
	text-align: center; /* Added */
}


/* ---------- FORMS ---------- */
form {
	margin: 0;
}

/* Quicksearch */
form.quicksearch {
	height: 29px;
}

/* Search, insert */
form.search-form, form.insert-form {
	
}

/* Search */
form.search-form > div, form.insert-form >div {
	max-width: 500px; /* Changed. Makes search form wider */
	float: left;
}

/* ---------- LOGIN SPECIFIC ---------- */
/* Header */
h1.login {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 35px;
}

/* Text */
p.login {
    margin-bottom: 15px;
}


/* ---------- TABLES ---------- */
table {
	border: none;
	border-spacing: 0;
}

th {
	padding-right: 10px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	border-bottom: 1px solid black;
}

td {
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	font-size: small;
	border-bottom: 1px solid black;
	max-width: 400px;
}

td.comment {
	min-width: 200px;
}

/* ---------- SPAN ---------- */
span.req {
    color: #001F3F;
    font-weight: bold;
}

/* ---------- LINKS ---------- */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Images */
a.external::after { /* Adds external link image after link */
	background-image: url(../images/external_link.png);
    background-size: 12px 12px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    content:"";
	margin-left: 3px;
	margin-right: 12px;
}

a.edit::after {	/* Adds edit image after link */
	background-image: url(../images/edit.png);
    background-size: 12px 12px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    content:"";
	margin-left: 3px;
	margin-right: 12px;
}

/* ??? */ 
div.innertube a {
	color: blue;
}

div.innertube a:hover {
	color: green;
}

/* Navigation bar */
.navigation a {
	float: left;
    color: #E1F5FE; /* Changed. Text color in navigation buttons */ 
    /* text-align: center; */ /* Deleted. */ 
    padding: 22px 16px;
    font-size: 19px; /* Changed. Larger text size in nav. buttons */
	
	/* Rounded corners on top */  /* Added: all */
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
 
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
 
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.navigation a:hover {
    background-color: #0074D9; /* Changed. Background color when hovering over nav. buttons */
    color: #E1F5FE; /* Changed. Text color when hovering over nav. buttons */
}

.navigation a.active {
    background-color: #E1F5FE; /* Changed. Background color on active nav. button. */
    color: #001F3F; /* Changed. Text color on active nav. button */
}

/* Login */
.navigation a.login {
	margin-left: 5px; /* Changed. Smaller margin on login button in nav. */
	color: #E1F5FE; 
}

.navigation a.login.active {
	background-color: #E1F5FE; /* Changed. Background color on active nav. button. */
    color: #001F3F; /* Changed. Text color on active nav. button */
}

a.login {
  color: #0074D9; /* Changed. New color to "New? Click here to register!" */
}

/* Logo */
a.logo { /* Removed: margin */
	padding: 0; /* Changed. Makes the logo fit in the navigation. */
	margin-right: 20px; /* Added. Less space between logo and nav. buttons */
	text-align: left;
}

a.logo:hover {
	background-color: inherit;
}

/* Quicksearch */ 
div.quicksearch a {
	padding: 0;
	font-size: small;
}

div.quicksearch a:hover {
	color: #0074D9; /* Changed. Text color when hovering over quicksearch text */
	background-color: inherit;
}

/* ---------- DIVS ---------- */
/* Forms */
div.form {
  background: #E1F5FE; /* Changed. Background color in forms. */
  padding: 40px;
  max-width: 600px;
  margin: auto;
}

/* inserts */
div.backbone_inserts {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 50%;
	float: right;
}

/* Entries */
div.entry_table {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 50%;
	float: left;
}

/* Logo */
div.logo {
	float: left;
	clear: left; /* Does not allow floating elements to the left of the logo*/
}

/* "Private" Checkbox */
div.checkbox {
	margin-top: 30px;
	float: right;
	padding: 30px;
	width: 50%;
}

/* ---------- NAVIGATION BAR ---------- */
nav.navigation {
	overflow: hidden;
	background: #001F3F;  /* Changed. Background color in navigation bar. */
	margin-top: 0;
	clear: both; /* Does not alow floating elements on either side of navigation bar */ 
	max-height: 68px;
}

/* Wrappers */
div.nav-wrapper { /* Entire */
	white-space: nowrap;
}

div.right-wrapper { /* Quicksearch and login */
	padding: 0;
	float: right;
	clear: right;
}

/* Quicksearch */
div.quicksearch {
	padding-top: 10px;
	float: left;
}

/* ---------- INPUT FIELDS ---------- */
input.all, select.all, input.login {
	padding: 6px;
	border: 1px solid #001F3F; /* Changed. Border color around input boxes */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */ 
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
	font-size: 16px; /* Added. Increased font size in input boxes */
	padding: 4px 7px; /* Added. Less padding within input boxes */ 
	/* outline: 0; */ /* Added. No outline around active input box */
	width:100%; /* Added. The input boxes are no longer overlapping but separated */
}

label { /* Added: All */
	font-size: 15px; /* Added. Change of text size above input boxes */ 
	color: #001F3F; /* Added. Text color of text above input boxes  */
	font-style: italic;
}


/* Quicksearch */
input.quicksearch {
	float: left;
	margin: 0;
	padding: 5px;	
	border: 1px solid #001F3F; /* Changed. Border color around input boxes */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
	font-size: 16px; /* Added. Increased font size in input boxes */
	outline: 0; /* Added. No outline around active input box */
	height: 29px;
}

/* Insert */
input.insert, select.insert {
	padding: 6px;
	border: 1px solid #001F3F; /* Changed. Border color around input boxes */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */ 
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
	font-size: 16px; /* Added. Increased font size in input boxes */
	padding: 4px 7px; /* Added. Less padding within input boxes */ 
	/* outline: 0; */ /* Added. No outline around active input box */
	width:70%;
	float: right;
}	

textarea.insert {
	padding: 6px;
	border: 1px solid #001F3F; /* Changed. Border color around input boxes */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */ 
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
	font-size: 16px; /* Added. Increased font size in input boxes */
	padding: 4px 7px; /* Added. Less padding within input boxes */ 
	/* outline: 0; */ /* Added. No outline around active input box */
	width:100%;
	float: right;
	margin-bottom: 30px;
}

/* Multiple inserts */
input.insert-mini, select.insert-mini {
	padding: 5px;
	border: 1px solid #001F3F; /* Changed. Border color around input boxes */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */ 
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
	font-size: 16px; /* Added. Increased font size in input boxes */ 
	/* outline: 0; */ /* Added. No outline around active input box */
	width:100%;
	float: right;
	margin-top: 5px;
	margin-bottom: 1px;

}

/* Sequence input */
input.button {
	padding: 4px 7px; /* Added. Less padding within input boxes */ 
	border: 0;
	font-size: 16px; /* Added. Increased font size in input boxes */
	width:70%;
	float: right;
}


/* ---------- BUTTONS ---------- */
.button {
	border: none;
	/* padding: 15px 0; */ /* Removed. The text is centered in button. */
	font-size: 20px; /* Changed. Smaller text in buttons */
	font-weight: 500; /* Changed. Less bold text in buttons  */
	/* text-transform: uppercase;*/ /* Removed. No uppercase text in buttons. */
	letter-spacing: .1em;
	background: #001F3F; /* Changed. Background color in buttons. */
	color: #E1F5FE; /* Changed. Text color in buttons. */
	display: block;
	width: 100%;
	height: 30px; /* Added. Less thick button.  */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
}

.button:hover {
  color: #0074D9; /* Changed. Text color when hovering over buttons */ 
}

/* Quicksearch */
button.quicksearch {
	cursor: pointer;
	border: none;
	padding: 0;
	height: 29px;
	background: #0074D9; /* Changed. Background color in buttons. */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
}

button.quicksearch:hover {
	background-color: #001F3F; /* Changed. Background color when hovering over quicksearch button */
}

/* "Add insert" button in insert entry page */
button.insert-mini {
	cursor: pointer;
	border: none;
	padding: 4px;
	height: 29px;
	background: #0074D9; /* Changed. Background color in buttons. */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
	display: block;
	background: #001F3F; /* Changed. Background color in buttons. */
	color: #E1F5FE; /* Changed. Text color in buttons. */
	float: right;
}

button.insert-mini:hover {
color: #0074D9; /* Changed. Text color when hovering over buttons */ 
}

/* "Remove insert" button in insert entry page */
button.btn_remove {
	margin-top: 5px; /* Makes the button line up relatively well with the input box */
	margin-bottom: 1px;
	cursor: pointer;
	border: none;
	padding: 6px;
	height: 30px;
	background: #0074D9; /* Changed. Background color in buttons. */
	-moz-border-radius: 5px; /* Added. Rounded corners in firefox */
	-webkit-border-radius: 5px; /* Added. Rounded corners in other browsers eg. chrome */
	border-radius: 5px; /* Added. Rounded corners in other browsers. */
	display: block;
	background: #001F3F; /* Changed. Background color in buttons. */
	color: #E1F5FE; /* Changed. Text color in buttons. */
	float: right;
}

button.btn_remove:hover {
color: #0074D9; /* Changed. Text color when hovering over buttons */ 
}

/* ---------- IMAGES ---------- */
/* Quicksearch icon */
img.quicksearch {
	height: 100%;
}

button.control-panel-restore::after { /* Add restore image to "restore" button */
	background-image: url(../images/restore.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}


button.control-panel-history::after { /* Add history image to "history" button */
	background-image: url(../images/history.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}

button.control-panel-edit::after { /* Add edit image to "edit" button */
	background-image: url(../images/edit.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}

button.control-panel-delete::after { /* Add trashcan image to "delete" button */
	background-image: url(../images/trash.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}

button.control-panel-admin::after { /* Add admin image to "make admin" button */
	background-image: url(../images/admin.png);
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    content:"";
}

/* ---------- LOGIN SYSTEM SPECIFIC ---------- */
.top-row > div:last-child { /* Puts input boxes next to each other */
  margin: 0;
}

.top-row > div { /* Makes input boxes smaller */
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.tab-content > div:last-child { /* Hides login or register tab when not active */
  display: none;
}

/* ---------- CONTROL PANEL ---------- */

div.panel-history-show {
	width: 30%;
	float: right;
	margin-right: 20px;
}

div.control-panel-show { /* Style for region where the desired content will be shown */
	float: left;
	width: 40%;
}

div.control_panel_menu { /* Styling the navigation of the control panel */
	
}

ul.control_panel_nav { /* Style the navigation list */
	list-style-type: none;
}

/* IDs */
#logo { /* Added: All */
  max-height: 68px; /* Added. Logo less high */
  max-width: 250px; /* Added. Logo less wide */
}

#right {
	float: right;
	margin-bottom: 15px;
}